.X2_Container {
  height: 15%;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.X2_Div {
  height: 20%;
  width: 90%;
  background-color: rgba(142, 142, 187, 0.8);
  border-radius: 10px;
  z-index: -1;
  transition: all 500ms ease-in-out;
}

.X2_Container:hover {
  cursor: pointer;
}

.X2_Container:hover div {
  background-color: rgba(3, 3, 41, 0.8);
}

.X2_Container.active :first-child {
  animation-name: topDivActive;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.X2_Container.active :nth-child(2) {
  animation-name: middleDivActive;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.X2_Container.active :last-child {
  animation-name: bottomDivActive;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
} 

.X2_Container :first-child {
  animation-name: topDiv;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.X2_Container :nth-child(2) {
  animation-name: middleDiv;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
} 

.X2_Container :last-child {
  animation-name: bottomDiv;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
} 

 @keyframes topDiv {
  0% {
    transform: translateY(150%) rotate(-45deg);
  }
  50% {
    transform: translateY(-100%) rotate(360deg);
  }
  100% {
    transform: translateY(0) rotate(360deg);
  }
}

@keyframes middleDiv {
  0% {
    opacity: 0;
    width: 20%;
  }
  80% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 90%;
    opacity: 1;
  }
}

@keyframes bottomDiv {
  0% {
    transform: translateY(-150%) rotate(45deg);
  }
  50% {
    transform: translateY(100%) rotate(-360deg);
  }
  100% {
    transform: translateY(0) rotate(-360deg);
  }
} 

@keyframes topDivActive {
  10% {
    transform: translateY(-100%);
    background-color: rgba(168, 36, 36, 0.8);
  }
  50% {
    transform: translateY(-100%) rotate(-45deg);
  }
  90% {
    transform: translateY(-100%) rotate(-45deg);
  }
  100% {
    transform: translateY(125%) rotate(-45deg);
  }
}

@keyframes middleDivActive {
  80% {
    opacity: 1;
    transform: translateX(-80%);
  }
  99% {
    opacity: 0;
    transform: translateX(100%);
    height: 20%;
    width: 90%;
  }
  100% {
    opacity: 0;
    transform: translateX(1200%);
    height: 0;
    width: 0;
  }
}

@keyframes bottomDivActive {
  10% {
    transform: translateY(100%);
    background-color: rgba(168, 36, 36, 0.8);
  }
  50% {
    transform: translateY(100%) rotate(45deg);
  }
  90% {
    transform: translateY(100%) rotate(45deg);
  }
  100% {
    transform: translateY(-125%) rotate(45deg);
  }
}
