* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 900vh;
  width: 100vw;
  background: rgb(207, 102, 4);
}

.Image_Div {
  height: 100vh;
  width: 100vw;
  display: flex;
}

img {
  height: 25vh;
}

h1 {
  color: white;
  margin: 0.5rem;
}
